body {
  font-family: Verdana, sans-serif;
  
}

.nav {
  height: 50px;
  background-color: red;
  
}
.container{
  width: 75%;
  background-color: blue;
  margin: auto;
  
}

.content-box {
  background-color: yellow
    ;
  width: 90%;
  margin: auto;
  
}

.footer {
  height: 30px; 
  background-color: #333;
  color: white;
  
}